@import "tailwindcss";

@theme {
  --color-main-1: #3498db;

  --color-n-50: #ffffff;
  --color-n-100: #c0c0c0;
  --color-n-200: #808080;
  --color-n-300: #404040;
  --color-n-400: #303030;
  --color-n-500: #202020;
  --color-n-600: #1c1c1c;
  --color-n-700: #101010;
  --color-n-800: #080808;
  --color-n-900: #000000;

  /* breacking points */
  --breakpoint-mb: 450px;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.7px;
}

/* custom scroll bar */

.light-scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
.light-scroll::-webkit-scrollbar-thumb {
  background-color: #303030;
  width: 12px;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}
